
header{
    background:  #cce6ff;
}

body{
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: 'Abel', sans-serif;
    color: #444;
    font-size: 16px;
    /*background-size: cover;*/    
}

.intro{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.container{
    width: 80%;
    margin: 0 auto;
}


/* do this if header disappears 
header::after{
    content:'';
    display: table;
    clear: both;
}
*/

.logo{
    float: left:
    padding: 15px 0;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top:40px;

    position: relative;
}

nav a{
    color: #444;
    text-decoration: : none;
    text-transform: uppercase;
    font-size: 14px;

    position: relative;
}

nav a:hover{
    color: #000;
}

/*supposed to be for a little design on top of nav titles*/
/*in my link, before the txt*/
/*right now this doesn't do anything*/
nav a::before{
    content:'';
    display block;
    height: 5px;
    width: 100%;
    background-color: #444;  
}

.box{
    width: 450px;
    background rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: #444;
    font-family: 'Abel', sans-serif; 
    border-style: solid;
    border-color: #b3daff;
}

/*my name*/
.box > h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

.links{
    display: inline-block; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.break{
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.links > p {
    text-align: center;
}

.contact{
    text-align: center;
}

.intro{
    text-align: center;
    width: 55%;
}

.education{
    margin-left: 30px;
}

.education > h2{
    margin-right: 150px;
    background-color: #F6FAFA;
}

.education > p{
    margin-left: 60px;
}

.courses{
    margin-left: 30px;
}

.courses > p{
    margin-left: 60px;
}

.courses > h2{
    margin-right: 150px;
    background-color: #F6FAFA;
}

.skills > ul{
    margin-left: 60px;
}

.skills > h2{
    margin-left: 30px;
    margin-right: 150px;
    background-color: #F6FAFA;
}

.newCourses > h2{
    margin-left: 30px;
    margin-right: 150px;
    background-color: #F6FAFA;
}

.newCourses > ul{
    margin-left: 60px;
}

.project1{
    margin-left: 30px;
}

.project1 > p{
    margin-left: 60px;
}

.project1 > h2{
    margin-left: 20px;
    margin-right: 150px;
}

.project1 > h3{
    margin-left: 30px;
}

.project1 > ul{
    margin-left: 60px;
}